.DesktopDock {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: fixed;
  bottom: 0;
  width: 100vw;
  height: 40px;
  background-color: cornflowerblue;
  z-index: 100000;
}