.DesktopWorkspace {
  display: flex;
  flex-flow: column wrap;
  align-content: flex-start;
  max-width: 100%;
  height: calc(100% - 40px);
  max-height: calc(100% - 40px);
  padding: 15px;
  overflow: auto;
}